.destiantion header {
  position: absolute;
  z-index: 99999;
  width: 100%;
  height: 112px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.logo img {
  height: 98px;
  width: 105px;
  border-radius: 100%;
}

.navbar .navbar-nav .nav-item {
  margin: 0px 30px;
}

.navbar .navbar-nav a.nav-link {
  font-family: "Playfair Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  line-height: 32px;
  text-align: center;
}

.destiantion .fa {
  color: #000000;
  font-size: 40px;
  margin: 0px 3px;
}

.main-banner img {
  width: 100%;
  height: 525px;
  margin-top: 112px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content .meta-text h2 {
  font-family: Playfair Display;
  font-size: 52px;
  font-style: italic;
  font-weight: 400;
  line-height: 69px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 0px 20px black;
}

.searchText {
  height: 50px;
  width: 300px;
}

.detail-parts .heading p {
  padding-top: 50px;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center;
  color: #828282;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.name-place {
  margin-left: 50px;
}

.image-place {
  margin-left: 50px;
}

.name-place .col-lg-4 {
  margin-top: 50px;
}

.image-place .col-lg-4 {
  margin-top: 50px;
}

.name-place p {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  width: 270px;
  height: 70px;
  text-align: center;
  border: 1px solid #ebebeb;
  padding: 15px;
  background-color: #ebebeb;
}

.name-place a {
  color: black;
}

.image-place img {
  height: 252px;
  width: 270px;
}

.footer {
  background-color: #f7f7f7;
  height: 100px;
  margin: auto;
}

.content-footer {
  padding-top: 35px;
}

.logo-footer img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}
